{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/styles/pages/index.css') }}">
<title>Dashboard | MVP Cow8</title>
{% endblock %}

{% block main %}
<div class="article-title">
    <h2 class="article-title__title">Estatísticas</h2>
    <div class="article-title__more">
        <span class="article-title__span">Ver mais</span>
        <button class="article-title__button"></button>
    </div>
</div>
<article class="article">
    <canvas id="means"></canvas>
</article>
<div class="article-title">
    <h2 class="article-title__title">Outros</h2>
    <div class="article-title__more">
        <span class="article-title__span">Ver mais</span>
        <button class="article-title__button"></button>
    </div>
</div>
<article class="article">
    <canvas id="risk"></canvas>
</article>
{% endblock %}

{% block aside %}
<div class="article-title">
    <h2 class="article-title__title">Resumo Mensal</h2>
</div>
<article class="article">
    <div class="summary">
        <span class="loader"></span>
    </div>
</article>
<div class="article-title">
    <h2 class="article-title__title">Análise Periódica</h2>
</div>
<article class="article"></article>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="module" src="{{ url_for('static', filename='assets/scripts/pages/index.js') }}"></script>
{% endblock %}