@import url("./reset.css");
@import url("./variables.css");
@import url("./switch.css");
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: var(--background);
    font-family: "Courier Prime", monospace;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}

canvas {
    width: min-content !important;
    height: auto !important;
}

.header {
    width: 100%;
    background-color: var(--background-container);
    padding: .5rem 1rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: var(--container-radius);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1.4rem;
}

.header__button {
    background: var(--button-background-primary);
    color: white;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: var(--button-radius);
    cursor: pointer;
    background-image: url("../images/icons/icon_white.svg");
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}

.header__button:hover {
    transform: var(--button-transform);
    transition: var(--button-transition);
}

.header__link {
    background-color: transparent;
    color: white;
    padding: .5rem 1rem;
    border-radius: var(--button-radius);
}

.header__link--active {
    background: var(--button-background-primary);
}

.header__link:hover {
    transform: var(--button-transform);
    transition: var(--button-transition);
}

.article-title {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: .8rem;
}

.article-title__title {
    color: var(--article-title-color);
    font-size: 1.2rem;
    font-family: var(--title-font-family);
    font-weight: var(--title-font-weight);
}

.article-title__more {
    background-color: var(--background-container);
    display: block;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: var(--container-radius);
    padding: .5rem;
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.article-title__span {
    color: white;
    margin-right: .6rem;
    font-size: .8rem;
}

.article-title__button {
    background-color: #0B55A8;
    min-width: 1.5rem;
    min-height: 1.5rem;
    display: block;
    padding: .6rem;
    border: none;
    border-radius: var(--button-radius);
    cursor: pointer;
    background-image: url("../images/icons/arrow_foward_white.svg");
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

.article-title__button:hover {
    transform: var(--button-transform);
    transition: var(--button-transition);
}

.article {
    background-color: var(--background-container);
    padding: 1rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: var(--container-radius);
    margin-bottom: 1.4rem;
}

.input-with-icon {
    position: relative;;
}

.input-with-icon__icon {
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/icons/search_white.svg');
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: .3rem;
}

.input-with-icon__input {
    padding-left: 2rem!important;
}

.user-opt {
    width: 100%;
    background-color: var(--background-container);
    padding: .5rem 1rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: var(--container-radius);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1.4rem;
}

.user-opt__search {
    background-color: var(--background-item);
    border: var(--border);
    border-radius: var(--container-radius);
    padding: .5rem 1rem;
    color: white;
}

.user-opt__button {
    background-color: var(--background-item);
    border: var(--border);
    border-radius: var(--container-radius);
    width: 2rem;
    height: 2rem;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.user-opt__alerts {
    background-image: url('../images/icons/notifications_white.svg');
}

.user-opt__settings {
    background-image: url('../images/icons/settings_white.svg');
}

.user-opt__user {
    width: max-content;
    background-color: var(--background-item);
    border: var(--border);
    border-radius: var(--container-radius);
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: 2.4rem;
    padding: 0 .4rem;
    cursor: pointer;
}

.user-opt__user-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/default.jpg');
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}

.user-opt__user-icon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/icons/arrow_down_white.svg');
    width: 1rem;
    height: 1rem;
    margin-left: .4rem;
}