.users {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
}

.user {
    background-color: var(--background-item);
    width: 100%;
    margin-bottom: 1rem;
    border-radius: var(--container-radius);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: .4rem 1rem;
    color: white;
    font-size: .8rem;
}

.user:last-of-type {
    margin-bottom: 0;
}

.user__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.user__pfp {
    width: 3rem;
    height: 3rem;
    border: 1px solid #a0a0a0;
    margin-right: .8rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../../images/default.jpg');
    border-radius: 100%;
}

.user__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: start;    

    span {
        max-width: 10rem;
        text-overflow: ellipsis;
        overflow: hidden;
        text-wrap: nowrap;
    }
}

.user__middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.user__creation {
    margin-right: 1rem;
    overflow: hidden;
    max-width: 9rem;
    
    span {
        text-overflow: ellipsis;
        text-wrap: nowrap;
        text-align: start;
    }
}

.user__status {
    margin-right: 1rem;
    background-color: #0b54a8ab;
    color: #ffffff;
    padding: .2rem .4rem;
    border-radius: 2px;
    min-width: 4rem;
    text-align: center;
}

.user__status--banned {
    background-color: #a80b0bab;
    color: #ffffff;
}

.user__email {
    max-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.user__button {
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: var(--button-transition);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.user__button:hover {
    transform: var(--button-transform);
}

.user__button--edit {
    background-color: green;
    background-image: url('../../../images/icons/edit_white.svg');
}

.user__button--ban-toggle {
    background-color: orangered;
    background-image: url('../../../images/icons/person_off_white.svg');
}

.user__button--delete {
    background-color: red;
    background-image: url('../../../images/icons/delete_forever_white.svg');
}

@media screen and (max-width: 768px) {
    .user {
        flex-direction: column;
        padding: 1rem;
    }

    .user__left {
        width: 100%;
        flex-direction: column;
    }

    .user__pfp {
        width: 10rem;
        height: 10rem;
        margin-bottom: 2rem;
    }

    .user__info {
        margin-bottom: 1rem;

        span {
            text-align: center;
            max-width: none;
        }
    }

    .user__middle {
        width: 100%;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .user__email {
        max-width: none;
    }

    .user__right {
        width: 100%;
    }
}